<div class="grid">
<div class="ui progress">
  <div class="bar"></div>
</div>
<button class="ui icon button">
  <i class="pause icon"></i>
</button>
<button class="ui icon button">
  <i class="step forward  icon"></i>
</button>
</div>
