#top-menu div.item, #bottom-menu div.item {
    padding-top: 0;
    padding-bottom: 0;
}
#control-bar {
    margin: auto !important;
}
#app-content .column {
	overflow-y: scroll;
}
#control-bar .column {
    overflow: hidden;
    overflow-y:hidden;
    padding: 0;
}
#track-progress {
    height: 1rem;
    width: auto;
    display: inline-block;
}
#track-progress-num {
    display: inline-block;
    margin-left: 1rem;
}
#track-progress .slider-horizontal {
    min-width: 7.5rem;
    height: 1rem;
}
#track-progress .slider.slider-horizontal {
    width: 7.5rem;
}
#track-progress .bar {
    height: 1rem;
    min-width: 0 !important;
    margin: 0;
}
#click-position {
    height: 1rem;
}
.label .ember-view {
    height: 0.5rem;
    margin: 0;
}
#volume-slider .slider.slider-horizontal{
	width: 3rem;
}
.slider-handle {
	display: none !important;
}
.slider-selection {
	background: #888888 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.slider-track-high {
	background: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.slider-track {
	background: rgba(0,0,0,0.1) !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
#volume-slider .slider-horizontal {
    min-width: 3rem;
    height: 0.5rem;
}
//medium+ screen sizes
@media (min-width:992px) {
    .mobile-only {
        display:none !important;
    }
}
 
//small screen sizes
@media (max-width: 991px) {
 
    .desktop-only {
        display:none !important;
    }
}
