html {
    overflow: hidden;
    overflow-y: scroll;
}
body {
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
#filter-box {
    position: absolute;
    right: 14px;
}
.song-info {
    height: 70px;
    width: 100%;
}
.btn-group-panel .btn {
	border: 0;
	border-radius: 0;
}
.btn-table {
	display: block;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
	height: 100%;
}

a {
    cursor: pointer;

}
.spacer1 {
    height: 1em;
}

.table {
    width: 100%;
    table-layout:fixed;
}
.table a {
	display: block;
}
.table td.track, .table th.track {
    width: 2em;
    overflow: visible;
    text-align:right;
}
.table td.duration, .table th.duration {
    width: 4em;
    text-align:right;
}
.table td.col-caret {
    width: 1em;
    overflow: visible;
}
.nowrap {
    white-space: nowrap;
    overflow: hidden;
}
#context-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.nav-tabs {
    border-bottom: none !important;
}
.spinner {
    height: 200px;
    padding-top: 3em;
    text-align: center;
    color: rgba(0,0,0,0.2);
}
.list-group-item .media {
    margin-top:0;
    overflow: visible;
}
.panel-heading .media {
    overflow: visible;
}
.list-group-item:hover {
    background: #EEE;
}
.media img {
    width: 64px;
    opacity: 0.5;
}
.list-group-item span {
    width: auto;
    display:inline-table;
    margin-left: 0.5em;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
}

#wrapper.toggled {
    padding-left: 350px;
}

#sidebar-wrapper {
    z-index: 1000;
    background: #FFF;
    display: block;
    position: fixed;
    bottom: 0;
    height: 170px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.15);
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -350px;
}

/* Sidebar Styles */
.sidebar-heading {
    position: absolute;
    background: #222;
    color: white;
    top: 0;
    height: 170px;
    width: 100%;
    left: 0;
    padding:5px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
.sidebar-body {
    display: none;
    position: absolute;
    top: 170px;
    bottom: 0;
    width: 100%;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li h3 {
    display: block;
    margin: 0.2em;
}
.sidebar-nav .media {
    margin:0;
    margin-top: 3px;
    padding-right: 1em;
}

.sidebar-nav li a {
    display: block;
    padding-left: 14px;
    padding-right: 14px;
}



@media(min-width:768px) {
    .sidebar-body {
        display: block;
    }
    #wrapper {
        padding-left: 350px;
    }

    #sidebar-wrapper {
        width: 350px;
        z-index: 1000;
        left: 350px;
        top: 0;
        bottom: 0;
        height: 100%;
        margin-left: -350px;
        overflow: hidden;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #top-bar {
        left: 350px;
    }
    #bottom-bar {
        display: none;
    }
    #sidebar-wrapper .media-body {
        max-width: 260px;
    }
}
.list-group.folder-view{
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
.input-group {
    margin-bottom: 10px;
}
.fill-group-list-item {
    margin: -10px;
    padding: 10px;
}
