html {
       overflow-y: scroll;
}
body {
  padding-top: 70px;
  padding-bottom: 70px;
}
#track-progress {
    width: 200px;
}
#volume-slider {
    float: left;
    align-items: stretch;
}
#track-progress .slider-horizontal, #volume-slider .slider-horizontal {
    min-width: 100%;
    height: 14px;
}
#track-progress .slider-track {
    height: 14px;
    margin-top: -3px;
}
#volume-slider .slider-track {
    height: 100%;
    width: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#track-progress .slider.slider-horizontal, #volume-slider .slider.slider-horizontal {
    width: 100%;
}
#volume-slider .slider.slider-vertical {
    height: 100%;
    width: 14px;
    min-height: 100%;
    margin-left: -3px;
}
#volume-slider .slider-selection {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#volume-slider {
    width: 14px;
}
.slider-handle {
	display: none !important;
}
.slider-selection {
	background: #888888 !important;
}
.slider-track-high {
	background: transparent !important;
}
.slider-track {
	background: rgba(0,0,0,0.1) !important;
}
.btn-group {
    margin-left: 1em;
    margin-right: 1em;
}
/*no collapse*/

.navbar-collapse.collapse.off {
    display: block!important;
}
.navbar-collapse.collapse.off ul {
    margin: 0;
    padding: 0;
}

.navbar-nav.no-collapse>li,
.navbar-nav.no-collapse {
    float: left !important;
    margin: 0;
}

.navbar-right.no-collapse {
    float: right!important;
}
.table {
    table-layout:fixed;
}
.table td.track {
    width: 2em;
    text-align:right;
}
.table td.duration {
    width: 4em;
    text-align:right;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
