<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        {{#bs-nav type="tabs"}}
            {{#bs-nav-item class="navbar-btn"}}
                {{#link-to "index"}}Albums{{/link-to}}
            {{/bs-nav-item}}
            {{#bs-nav-item class="navbar-btn"}}
                {{#link-to "tracks"}}Tracks{{/link-to}}
            {{/bs-nav-item}}
            {{#bs-nav-item class="navbar-btn"}}
                {{#link-to "queue"}}Queue{{/link-to}}
            {{/bs-nav-item}}
            {{#bs-nav-item class="navbar-right navbar-btn"}}
                    {{filter-box}}
            {{/bs-nav-item}}
        {{/bs-nav}}
    </div>
</nav>

<div class="container">
    {{outlet}}
</div> <!-- /container -->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        {{music-player}}
    </div>
</nav>
