<!-- Fixed navbar -->
<nav id="top-bar" class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        {{#bs-nav type="tabs"}}
            {{#bs-nav-item class="navbar-btn"}}
                {{#link-to "index"}}Albums{{/link-to}}
            {{/bs-nav-item}}
            {{#bs-nav-item class="navbar-btn"}}
                {{#link-to "tracks"}}Tracks{{/link-to}}
            {{/bs-nav-item}}
            {{#bs-nav-item class="navbar-btn"}}
                {{#link-to "folders"}}Folders{{/link-to}}
            {{/bs-nav-item}}
        {{/bs-nav}}
    </div>
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    {{currently-playing}}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {{filter-box}}
            {{outlet}}
        </div> <!-- /container -->
    </div>
</div>
{{context-menu}}
