<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        {{#bs-nav type="tabs"}}
            {{#bs-nav-item class="navbar-btn"}}
                {{#link-to "index"}}Albums{{/link-to}}
            {{/bs-nav-item}}
            {{#bs-nav-item class="navbar-btn"}}
                {{#link-to "tracks"}}Tracks{{/link-to}}
            {{/bs-nav-item}}
            {{#bs-nav-item id="filter-box" class="navbar-btn"}}
                {{filter-box}}
            {{/bs-nav-item}}
        {{/bs-nav}}
    </div>
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        {{currently-playing}}
    </div>
    <div id="content-wrapper">
        <div class="container-fluid">
            {{outlet}}
        </div> <!-- /container -->
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        {{music-player}}
    </div>
</nav>
