<div class="ui two column grid container" id="app-content">
    <div class="five wide column">
        {{album-list artists=artists show="showAlbums" addToPlayQueue="addToPlayQueue" playTrack="playTrack"}}
    </div>
    <div class="eleven wide column">
        {{track-list shownAlbums=shownAlbums addToPlayQueue="addToPlayQueue" playTrack="playTrack"}}
    </div>
</div>
