<div class="panel panel-default">
    <ul class="list-group">
        {{#each model as |album|}} 
            <button {{action "routeToAlbum" album.id on="click"}}type="button" class="list-group-item">
                {{album.albumartist}} - {{album.album}}<span class="pull-right">{{album.year}}</span>
            </button>
        {{/each}}
        {{#infinity-loader infinityModel=model}}
        {{/infinity-loader}}
    </ul>
</div>
