<div class="panel panel-default">
    <div class="list-group">
        {{#each model key="id" as |album|}} 
            <div href="#" class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        {{#bs-dropdown}}
                            {{#bs-dropdown-toggle}}
                            {{fa-icon "caret-down" size=4}}
                            {{/bs-dropdown-toggle}}
                            {{#bs-dropdown-menu}}
                                <li>{{#play-queue-helper replace=true play=true type="album" objId=album.id}}Replace queue and play{{/play-queue-helper}}</li>
                                <li>{{#play-queue-helper replace=false play=true type="album" objId=album.id}}Add to queue and play{{/play-queue-helper}}</li>
                                <li>{{#play-queue-helper replace=true play=false type="album" objId=album.id}}Replace queue{{/play-queue-helper}}</li>
                                <li>{{#play-queue-helper replace=false play=false type="album" objId=album.id}}Add to queue{{/play-queue-helper}}</li>
                                <li>{{#link-to "album" album.id (query-params play=null)}}View album{{/link-to}}</li>
                            {{/bs-dropdown-menu}}
                        {{/bs-dropdown}}
                    </div>
                    <div class="media-left">
                        {{#link-to "album" album.id}}
                            <img src="assets/images/albumicon.svg">
                        {{/link-to}}
                    </div>
                    <div class="media-body">
                        <h4>{{album.album}}</h4>
                        {{album.albumartist}}
                    </div>
                    <div class="media-right">
                        {{album.year}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
